@import 'tailwindcss';

@theme {
  --font-hanken: 'Hanken Grotesk', sans-serif;
}

* {
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  background-color: #282726;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languages::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  content: '💀 ';
  top: 0;
  left: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
